@mixin clearfix {
  &:after,
  &:before {
    content: "";
    clear: both;
    display: table;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(59,74,88);
  color: #efefef;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 10px;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.main_section_title {
  margin: 35px 70px;
  position: relative;

  &::after {
    display: block;
    position: absolute;
    left: -70px;
    content: '';
    width: 70%;
    height: 2px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgb(59, 74, 88)), to(rgb(59, 74, 88)), color-stop(30%, lawngreen));
  }
}
