.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 679px;
  background-image: url('../images/main.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
  border-bottom: 1px solid rgba(62, 62, 62, 0.7);
  box-shadow: 0px 3px 48px -5px rgba(62, 62, 62, 0.9);
}

.home {
  height: 600px;
  position: relative;

  h2 {
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 2.5rem;
    width: 600px;

    span {
      position: absolute;
      top: 105%;
      left: 40%;
      font-size: 1.5rem;
    }
  }
}

.moduleDesc {
  width: 500px;
  margin: 20px auto;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

.skills {
  h2 {
    margin-top: 35px;
  }

  .skillsItems {
    overflow: auto;
    width: 410px;
    margin: 40px auto;

    img {
      float: left;
      margin: 5px;
      width: 120px;
      height: 120px;

      &:hover {
        box-shadow: 0px 0px 7px 1px lawngreen;
      }
    }

    img:last-child {
      margin-left: 140px;
    }
  }

  #specificSkill {
    width: 500px;
    height: 90px;
    margin: 20px auto 80px auto;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(53, 118, 183, 0.5);
    position: relative;
    padding: 10px;

    span {
      position: absolute;
      top: -30px;
      left: 10px;
      font-size: 25px;
    }
  }
}

#education_tree {
  display: block;
  width: 100%;
  height: 700px;
  position: relative;
  margin: -40px 0 50px 0;

  .vertical_line {
    width: 2px;
    height: 500px;
    background: lawngreen;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .education_triangle {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid lawngreen;
    position: absolute;
    left: 50%;
    transform: translateX( -50% );
    top: 94px;
  }

  .education_dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: lawngreen;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &.dot_education {
      top: 590px;
    }

    &.dot_internship {
      top: 420px;
    }

    &.dot_work {
      top: 310px;
    }

    &.dot_course {
      top: 120px;
    }
  }

  .education_date {
    position: absolute;
    left: 50%;

    &.dot_education {
      top: 571px;
      transform: translateX(10px);
    }

    &.dot_internship {
      top: 400px;
      transform: translateX(-125px);
    }

    &.dot_work {
      top: 290px;
      transform: translateX(10px);
    }

    &.dot_course {
      top: 102px;
      transform: translateX(-125px);
    }
  }

  .education_desc {
    position: absolute;
    left: 50%;
    max-width: 40%;
    text-align: center;

    span {
      display: block;
      font-size: 18px;
    }

    .education_place {
      font-weight: bold;
      font-size: 20px;
    }

    .education_details {
      font-style: italic;
    }

    &.dot_education {
      top: 589px;
      transform: translateX(40px);
    }

    &.dot_internship {
      top: 420px;
      left: 75px;
    }

    &.dot_work {
      top: 310px;
      transform: translateX(30px);
    }

    &.dot_course {
      top: 117px;
      left: 75px;;
    }
  }
}

.buttonsCV {
  width: 400px;
  margin: 0 auto;
  overflow: auto;
}

.downloadButton {
  background: rgba(53, 118, 183, 0.5);
  padding: 7px;
  text-align: center;
  font-size: 23px;
  width: 47%;
  height: 40px;
  border-radius: 5px;
  float: left;
  margin: 0 2px;

  &:hover {
    background-color: lawngreen;
    color: rgb(59, 74, 88);
    cursor: pointer;
  }
}

.downloadButtonBig {
  background: rgba(53, 118, 183, 0.5);
  padding: 7px;
  text-align: center;
  font-size: 23px;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  margin: 0 auto 80px auto;

  &:hover {
    background-color: lawngreen;
    color: rgb(59, 74, 88);
    cursor: pointer;
  }
}


.contact {
  height: 600px;
}

