.project_data {
  @include clearfix;
  width: 100%;

  .project_description {
    float: left;
    width: 70%;
    padding: 10px;
  }
  .project_buttons  {
    float: left;
    width: 30%;
    padding: 10px;
  }

  .project_technologies {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
  }

  .project_buttons {
    .projectButtons {
      @include buttonBlueGreen();
      width: 250px;
      height: 40px;
      margin: 10px auto;
    }
  }

  .project_photos{
    clear: both;
    float: left;
    margin: 20px 0;
    text-align: center;

    img {
      width: 500px;
    }
  }
}