header {
  @include clearfix;

  nav {
    ul {
      list-style-type: none;
      overflow: auto;
      margin: 20px 0;

      li {
        float: left;
        padding: 5px;
        margin-right: 20px;

        &.active {
          color: lightblue;
        }
      }

      li:hover {
        color: green;
      }
    }
  }
}

main {
  @include clearfix;
}

footer {
  @include clearfix;
  background-color: red;
  height: 70px;

  &.attached{
    position:absolute;
    bottom: 0;
    width: 100%;
  }
}

