header {
  @include clearfix;
  border-bottom: 1px solid rgba(62,62,62,0.7);
  box-shadow: 0px 3px 48px -5px rgba(62,62,62,0.9);

  nav {
    ul {
      list-style-type: none;
      overflow: auto;
      margin: 10px 0;

      li {
        float: left;
        padding: 5px;
        margin-right: 20px;

        &.active {
          color: lawngreen;
        }
      }

      li:hover {
        color: lightblue;
      }
    }
  }
}

main {
  @include clearfix;
}

footer {
  @include clearfix;
  border-top: 1px solid black;

  &.attached{
    position:absolute;
    bottom: 0;
    width: 100%;
  }
}

